/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 11-Dec-2015, 12:13:42
    Author     : jesus
*/

.image-holder {
    display:inline-block;
    position: relative;
}
.image-holder:after {
    content:'';
    top: 0;
    left: 0;
    z-index: 10;
    width: 100%;
    height: 100%;
    display: block;
    position: absolute;
    background: red;
    opacity: 0.0;
}
.image-holder:hover:after {
    opacity: 0.2;
    background: blue;
}

.highOpacity:after {
    opacity: 0.8;
}